* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}
.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 16px;
}
.navbar {
    background-color: #232323;
    padding: 10px;
    .navbar-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .menu {
            ul {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 30px;
                li {
                    list-style: none;
                    a {
                        display: inline-block;
                        background-color: #ffffff;
                        text-decoration: none;
                        padding: 8px 25px;
                        text-transform: capitalize;
                        border-radius: 5px;
                        font-size: 15px;
                        font-weight: 500;
                        color: #232323;
                        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    }
                }
            }
        }
    }
}

.text-with-image {
    margin-block: 60px;

    .text-with-image-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 30px;
        .text-block{
            flex: 0 0 50%;
            h2.title {
                font-size: 30px;
                font-weight: 600;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                margin-block: 0 20px;
            }
            p.description {
                font-size: 15px;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-weight: 400;
                line-height: 1.5;
            }   
            a {
                display: inline-block;
                background-color: #232323;
                text-decoration: none;
                padding: 8px 25px;
                text-transform: capitalize;
                border-radius: 5px;
                font-size: 15px;
                font-weight: 500;
                color: #ffffff;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                margin-block-start: 20px;
            }
            @media screen and (max-width: 767px) {
                flex: 0 0 auto;
            }
        }
        .image-block {
            flex: 0 0 calc(50% - 30px);
            @media screen and (max-width: 767px) {
                flex: 0 0 auto;
            }
        }
        @media screen and (max-width: 767px) {
            flex-direction: column;
        }
    }
}
